<div class="receive-collections">

    
        <div class="unpaid-collections">
            <nz-table #borderedTable nzBordered [nzFrontPagination]="false" #basicTable [nzData]="data.collections">
                <thead>
                    <tr>
                        <th>Customer Id</th>
                        <th>Name</th>
                        <th>Month/Year</th>
                        <th>Type</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let collection of basicTable.data">
                        <td>{{data?.customer?.id}}</td>
                        <td>{{data?.customer?.name}}</td>
                        <td>{{collection?.month + " " + collection?.year}}</td>
                        <td>{{collection?.paymentType[0] + collection?.paymentType.slice(1).toLowerCase() + ", " + collection?.connectionType}}</td>
                        <td>{{collection?.amount}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    
        <div class="receive-form">
            <div nz-row>
                
                <div nz-col [nzSpan]="10">
                    Payment Method
                    <br>
                    <nz-select width="10" [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Payment Method..."
                        name="paymentType" [(ngModel)]="receiveRequest.paymentMethod" #paymentType="ngModel" required>
                            <nz-option *ngFor="let paymentMethod of paymentMethodList" [nzLabel]="paymentMethod" [nzValue]="paymentMethod"></nz-option>
                    </nz-select>            
                </div>
    
                <div nz-col [nzOffset]="2" [nzSpan]="10">
                    Connection Type
                    <input nz-input placeholder="Coonection Type" type="text" name="connectionType" [(ngModel)]="receiveRequest.connectionType"
                        label="receiveRequest.connectionType" value="receiveRequest.connectionType" disabled="true"/>
                </div> 
    
            </div>
            <br>
            <div nz-row>
                <div nz-col [nzSpan]="10">
                    Receiving Date
                    <input nz-input placeholder="Receving Date" type="text" name="paymentType" [(ngModel)]="receiveRequest.receivingDate"
                    label="receiveRequest.receivingDate" value="receiveRequest.receivingDate | date:'short'" />
                </div>
                <div nz-col [nzOffset]="2" [nzSpan]="10">
                    Amount
                    <input nz-input placeholder="Amount" type="number" name="amount" [(ngModel)]="receiveRequest.amount"  
                    label="receiveRequest.amount" value="receiveRequest.amount" disabled="true"/>
                </div> 
            </div>
    
            <div nz-row>
                <button (click)="receiveUserCollection()" nz-button nzType="primary" nzShape="round">
              Submit
            </button>
            </div>
            
        </div>
    
    
</div>

  
       