<div class="receive-collections">

        <div class="unpaid-collections">
            <nz-table #borderedTable nzBordered [nzFrontPagination]="false" #basicTable [nzData]="data.collections">
                <thead>
                    <tr>
                        <th>Customer Id</th>
                        <th>Name</th>
                        <th>Month/Year</th>
                        <th>Type</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let collection of basicTable.data">
                        <td>{{data?.customer?.id}}</td>
                        <td>{{data?.customer?.name}}</td>
                        <td>{{collection?.month + " " + collection?.year}}</td>
                        <td>{{collection?.paymentType[0] + collection?.paymentType.slice(1).toLowerCase() + ", " + collection?.connectionType}}</td>
                        <td>{{collection?.amount}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    
        <div class="receive-form">

            <div nz-row class="row" >
                <div nz-col nzSpan="12">
                  <nz-input-group>
                    <h4>Payment Method</h4>
                    <nz-select width="10" [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Payment Method..."
                        name="paymentType" [(ngModel)]="receiveRequest.paymentMethod" #paymentType="ngModel" required>
                            <nz-option *ngFor="let paymentMethod of paymentMethodList" [nzLabel]="paymentMethod" [nzValue]="paymentMethod"></nz-option>
                    </nz-select>  
                  </nz-input-group>
                </div>
                <div nz-col nzSpan="12">
                  <nz-input-group >
                    <h4>Connection Type</h4>
                    <input nz-input placeholder="Coonection Type" type="text" name="connectionType" [(ngModel)]="receiveRequest.connectionType"
                        label="receiveRequest.connectionType" value="receiveRequest.connectionType" disabled="true"/>
                  </nz-input-group>
                </div>
              </div> 

            <div nz-row class="row" >
                <div nz-col nzSpan="12">
                  <nz-input-group>
                    <h4>Receiving Date</h4>
                    <input nz-input placeholder="Receving Date" type="text" name="paymentType" [(ngModel)]="receiveRequest.receivingDate"
                        label="receiveRequest.receivingDate" value="receiveRequest.receivingDate | date:'short'" />
                  </nz-input-group>
                </div>
                <div nz-col nzSpan="12">
                  <nz-input-group >
                    <h4>Amount</h4>
                    <input nz-input placeholder="Amount" type="number" name="amount" [(ngModel)]="receiveRequest.amount"  
                    label="receiveRequest.amount" value="receiveRequest.amount" disabled="true"/>
                  </nz-input-group>
                </div>
              </div> 

            <div nz-row class="submit-button">
                <button  (click)="receiveUserCollection()" nz-button nzType="primary" nzShape="round">
                    Submit
                </button>
            </div>
            
        </div>
    
</div>   