<div class="create-customer">
  <form nz-form #userDetailFormView="ngForm" >

      <div nz-row class="row" >
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Name</h4>
            <input nz-input type="text" name="Name" [(ngModel)]="userDetailForm.name" placeholder="Name" required/>
          </nz-input-group>
        </div>
        <div nz-col  nzSpan="12">
          <nz-input-group  >
            <h4>Email</h4>
            <input nz-input type="email" name="Email" [(ngModel)]="userDetailForm.email" placeholder="Email" required/>
          </nz-input-group>
        </div>
      </div> 
      
      <div nz-row class="row" >
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Address</h4>
            <input nz-input type="text" name="Address" [(ngModel)]="userDetailForm.address" placeholder="Address" required/>
          </nz-input-group>
        </div>
        <div nz-col nzSpan="12">
          <nz-input-group >
            <h4>Mobile</h4>
            <input nz-input type="text" name="Mobile" [(ngModel)]="userDetailForm.mobile" placeholder="Mobile" required/> 
          </nz-input-group>
        </div>
      </div> 
      
      <div nz-row class="row" >
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Installation Date</h4>
            <input nz-input type="date" name="InstallationDate" [(ngModel)]="userDetailForm.installationDate" required/> 
          </nz-input-group>
        </div>
        <div nz-col nzSpan="12">
          <nz-input-group >
            <h4>Recharge Date</h4>
            <input nz-input type="date" name="RechargeDate" [(ngModel)]="userDetailForm.rechargeDate" />
          </nz-input-group>
        </div>
      </div> 

      <div nz-row class="row" >
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Installation Amount</h4>
            <input nz-input type="number" min="0" name="InstallationAmount" [(ngModel)]="userDetailForm.installationAmount" placeholder="i.e 1000"/>
          </nz-input-group> 
        </div>
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Other Amount</h4>
            <input nz-input type="number" min="0" name="OtherAmount" [(ngModel)]="userDetailForm.otherAmount" placeholder="i.e 500"/>
          </nz-input-group> 
        </div>
      </div> 

      <div nz-row class="row" >
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Sub-Locality</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Sub-Locality..."
              name="subLocality" [(ngModel)]="userDetailForm.subLocalityId" (ngModelChange)="onChangeOfSubLocality($event)" #subLocality="ngModel" required>
              <nz-option *ngFor="let subLocality of subLocalitiesList" [nzLabel]="subLocality?.subLocalityName" [nzValue]="subLocality?.id"></nz-option>
            </nz-select>   
          </nz-input-group> 
        </div>
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Company</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Company..."
                name="company" [(ngModel)]="userDetailForm.companyId" (ngModelChange)="onChangeOfCompany($event)" #company="ngModel" required>
              <nz-option *ngFor="let company of companyList" [nzLabel]="company?.name" [nzValue]="company?.id"></nz-option>
            </nz-select>    
          </nz-input-group> 
        </div>
      </div> 

      <div nz-row class="row" >
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Connection Type</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Connection Type..."
                name="connectionType" [(ngModel)]="userDetailForm.connectionTypeId" (ngModelChange)="onChangeOfConnectionType($event)" #connectionType="ngModel" required>
                <nz-option *ngFor="let connectionType of connectionTypeList" [nzLabel]="connectionType?.type" [nzValue]="connectionType?.id"></nz-option>
            </nz-select>    
          </nz-input-group> 
        </div>
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Box Media</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Box Media..."
                name="boxMedia" [(ngModel)]="userDetailForm.boxMediaId" (ngModelChange)="onChangeOfBoxMedia($event)" #boxMedia="ngModel" required>
                <nz-option *ngFor="let boxMedia of boxMediaList" [nzLabel]="boxMedia?.boxNumber" [nzValue]="boxMedia?.id"></nz-option>
            </nz-select>    
          </nz-input-group> 
        </div>
      </div>

      <div nz-row class="row" >
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Package</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Package..."
              name="package" [(ngModel)]="userDetailForm.packagesId" (ngModelChange)="onChangeOfPackage($event)" #package="ngModel" required>
              <nz-option *ngFor="let package of packageList" [nzLabel]="package?.packageName" [nzValue]="package"></nz-option>
            </nz-select>   
          </nz-input-group> 
        </div>
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Discount</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Discount..."
                name="Discount" [(ngModel)]="userDetailForm.discount" (ngModelChange)="onChangeOfDiscount($event)" #Discount="ngModel" required>
              <nz-option *ngFor="let discount of discountList" [nzLabel]="discount" [nzValue]="discount"></nz-option>
            </nz-select>    
          </nz-input-group> 
        </div>
      </div>

      <div nz-row class="row">
        <nz-input-group>
          <h4>Amount</h4>
          <input nz-input type="number" min="0" name="Amount" [(ngModel)]="userDetailForm.amount" disabled="{{isDisabled}}"/>
        </nz-input-group>
    </div>

    <div nz-row class="row">
      <div nz-col>
        <!-- <nz-upload
        class="avatar-uploader"
        nzAction=""
        nzName="avatar"
        nzListType="picture-card"
        
        (nzChange)="handleChange($event)"
      >
       -->
          <div class="ant-upload-text">Upload</div>
      
      <!-- </nz-upload> -->
      </div>
    </div>

    <!-- <div class="submit-button" nz-row  >
      <button nz-button (click)="createOrUpdateUser()">{{ buttonName }}</button>
    </div> -->
  </form>
</div>