<div class="create-company">
  <form nz-form #cForm="ngForm" >
      <div nz-row >
        <nz-input-group>
          <h4>Company Name</h4>
          <input nz-input type="text" name="name" [(ngModel)]="companyName" placeholder="Company Name" />
        </nz-input-group>
      </div>  

    <div class="submit-button" nz-row  >
      <button *ngIf="data" type="button" class="save-button" 
        (click)="showConfirmationPopup()"  nz-button nzType="primary">{{ buttonName }}</button>
      <button *ngIf="!data" type="button" class="save-button" 
        (click)="createOrUpdateCompany()" nz-button nzType="primary">{{ buttonName }}</button>
    </div>
  </form>
</div>