<div class="create-locality">

  <form nz-form #localityForm="ngForm" >

      <div nz-row class="row" >
          <nz-input-group>
            <h4>Locality Name</h4>
            <input nz-input type="text" name="LocalityName" [(ngModel)]="localityName" placeholder="Locality Name" />
          </nz-input-group>
      </div> 
      
      <div nz-row class="row" >
        <nz-input-group  >
            <h4>City</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select City..."
              name="role" [(ngModel)]="cityId" (ngModelChange)="onChangeOfCity($event)" #role="ngModel" required>
              <nz-option *ngFor="let city of cityList" [nzLabel]="city?.name" [nzValue]="city?.id"></nz-option>
            </nz-select>                
          </nz-input-group>
      </div> 
      
      <div nz-row class="row" >
        <nz-input-group>
          <h4>Country</h4>
          <input nz-input type="text" name="Country" value="Pakistan" disabled/>
        </nz-input-group>
      </div>

    <div class="submit-button" nz-row  >
      <button *ngIf="data" type="button" class="save-button" 
        (click)="showConfirmationPopup()"  nz-button nzType="primary">{{ buttonName }}</button>
      <button *ngIf="!data" type="button" class="save-button" 
        (click)="createLocality()" nz-button nzType="primary">{{ buttonName }}</button>
    </div>
  </form>
</div>

<!-- <form nz-form #localityForm="ngForm" >
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Locality Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <input nz-input type="text" name="LocalityName" [(ngModel)]="localityName" placeholder="Locality Name" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input locality name!</ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">The locality name is redundant!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item >
      <nz-form-label [nzSpan]="7" nzRequired>City</nz-form-label>
      <nz-form-control [nzSpan]="12">
      <nz-input-group  nzSize="large" >
        <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select City..."
        name="role" [(ngModel)]="cityId" (ngModelChange)="onChangeOfCity($event)" #role="ngModel" required>
            <nz-option *ngFor="let city of cityList" [nzLabel]="city?.name" [nzValue]="city?.id"></nz-option>
        </nz-select>                
    </nz-input-group>
    </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Country</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <input nz-input type="text" name="Country" value="Pakistan" disabled/>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
         <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button> -->
        <!-- <button nz-button (click)="createLocality()">{{ buttonName }}</button>
        <button *ngIf="data" type="button" class="save-button" 
        (click)="showConfirmationPopup()"  nz-button nzType="primary">{{ buttonName }}</button>
        <button *ngIf="!data" type="button" class="save-button" 
        (click)="createLocality()" nz-button nzType="primary">{{ buttonName }}</button>
      </nz-form-control>
    </nz-form-item>
  </form> --> 