<div class="user-collection">

    <div nz-row>
      <div nz-col [nzSpan]="10">
        <div class="heading">
          <h1>
            Customer Collections
          </h1>
        </div>
      </div>

      <div nz-col [nzSpan]="6">
          <nz-input-group  nzSize="large" >
              <nz-select class="search-customer" [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Customer..."
              name="customer" [(ngModel)]="Customer" (ngModelChange)="onChangeOfCustomer($event)" #customer="ngModel" required>
                  <nz-option *ngFor="let customer of customerList" [nzLabel]="customer?.name" [nzValue]="customer"></nz-option>
              </nz-select>                
            </nz-input-group>
      </div>

      <div nz-col [nzSpan]="4" class="receiveAll-button">
        <button [disabled]="CustomerData.id==0" (click)="receiveUserCollectionModal(null)" nz-button nzType="primary" nzShape="round">
          Receive All
        </button>
      </div>


      <div nz-col class="add-button">
        <button [disabled]="CustomerData.id==0" (click)="createAddUserCollectionModal(null)" nz-button nzType="primary" nzShape="round">
          <span nz-icon nzType="plus" ></span>
          Add Collection
        </button>
      </div>

    </div>

    <div nz-row>
      <div nz-col *ngIf="collectionList[0]!=null">
        <h3>{{collectionList[0]?.customerName+" 's , Contact No : "+collectionList[0]?.customerNumber}}</h3>
      </div>
      
    </div>

  
    <nz-card>
      <nz-table #basicTable [nzData]="collectionList" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th>Internet Id</th>
            <th>Month/Year</th>
            <th>Payment Type</th>
            <th>Connection Type</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let collection of basicTable.data">
            <td>{{collection?.internetId}}</td>
            <td>{{collection?.month +" "+ collection?.year}}</td>
            <td>{{collection?.paymentType}}</td>
            <td>{{collection?.connectionType}}</td>
            <td>{{collection?.amount}}</td>
            <td>{{collection?.collectionStatus}}</td>
            <td> 
              <!-- style="background-image: url('./assets/images/pay.png'); " -->
                <span class="unpaid-button" *ngIf="collection?.collectionStatus=='PAID'" (click)="showConfirmationPopupOnUnpaid(collection?.billNumber)"
                  nz-icon style="background-image: url('./assets/images/unpaid.png'); height: 20px; width: 20px; background-size: contain;" nzTheme="outline"></span>

                <span class="paid-button" *ngIf="collection?.collectionStatus=='UNPAID'" (click)="receiveUserCollectionModal(collection)" 
                  nz-icon  style="background-image: url('./assets/images/paid2.png'); height: 20px; width: 20px; background-size: contain;" nzTheme="outline"></span>

                <nz-divider nzType="vertical" *ngIf="collection?.collectionStatus=='UNPAID'" ></nz-divider>

                <span class="delete-button" *ngIf="collection?.collectionStatus=='UNPAID'" (click)="showConfirmationPopupOnDelete(collection?.id)" 
                  nz-icon nzType="delete" nzTheme="outline"></span>
                  
                <nz-divider nzType="vertical" ></nz-divider>
                
                <span class="detail-button" (click)="detailUserCollectionModal(collection?.id)" 
                  nz-icon nzType="eye" nzTheme="outline"></span>

              <!-- <button nz-button nz-dropdown [nzDropdownMenu]="collection?.collectionStatus == 'PAID' ? menuPaid : menuUnpaid">
                Edit
                <span nz-icon nzType="down"></span>
              </button>
              <span nz-icon nzType="dollar" nzTheme="outline"></span>
              <span nz-icon nzType="delete" nzTheme="outline"></span> -->
              <!-- <nz-dropdown-menu #menuPaid="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="showConfirmationPopupOnUnpaid(collection?.billNumber)">Unpaid</li>
                  <li nz-menu-item>View Details</li>
                </ul>
              </nz-dropdown-menu>
              <nz-dropdown-menu #menuUnpaid="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="receiveUserCollectionModal(collection)" >Paid</li>
                  <li nz-menu-item (click)="showConfirmationPopupOnDelete(collection?.id)" >Delete</li>
                  <li nz-menu-item>View Details</li>
                </ul>
              </nz-dropdown-menu> -->
            </td>
          </tr>
        </tbody>
    </nz-table>
    <nz-pagination 
          class="pagination" 
          [nzPageIndex]="pageIndex" 
          [nzPageSize]="pageSize" 
          [nzTotal]="totalItems"
          (nzPageIndexChange)="onPageChange($event)">
        </nz-pagination>
    </nz-card>
  
  </div>
  
  
    
  