
<button nz-button nzType="primary" nzShape="round">
    <span nz-icon nzType="plus" ></span>
    Add
</button>
<nz-table #basicTable [nzData]="localitiesList">
    <thead>
      <tr>
        <th>Id</th>
        <th>Country</th>
        <th>City</th>
        <th>Locality</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let locality of basicTable.data">
        <td>{{locality.id}}</td>
        <td>{{locality.city.country.name}}</td>
        <td>{{locality.city.name}}</td>
        <td>{{locality.name}}</td>
        <td>
            <button nz-button >
                <span nz-icon nzType="edit" ></span>
            </button>
            <button nz-button >
                <span nz-icon nzType="delete" ></span>
            </button>
        </td>
      </tr>
    </tbody>
</nz-table>
