<div class="create-subLocality">
  
  <form nz-form #subLocalityForm="ngForm" >

      <div nz-row class="row" >
          <nz-input-group>
            <h4>Sub Locality Name</h4>
            <input nz-input type="text" name="SubLocalityName" [(ngModel)]="subLocalityName" placeholder="Sub Locality Name" />
          </nz-input-group>
      </div> 
      
      <div nz-row class="row" >
        <nz-input-group  >
            <h4>Locality</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Locality..."
            name="role" [(ngModel)]="localityId" (ngModelChange)="onChangeOfLocality($event)" #role="ngModel" required>
                <nz-option *ngFor="let locality of localityList" [nzLabel]="locality?.name" [nzValue]="locality?.id"></nz-option>
            </nz-select>                
          </nz-input-group>
      </div> 
      
      <div nz-row class="row" >
        <nz-input-group>
          <h4>Country</h4>
          <input nz-input type="text" name="Country" value="Pakistan" disabled/>
        </nz-input-group>
      </div>

    <div class="submit-button" nz-row  >
      <button *ngIf="data" type="button" class="save-button" 
        (click)="showConfirmationPopup()"  nz-button nzType="primary">{{ buttonName }}</button>
      <button *ngIf="!data" type="button" class="save-button" 
        (click)="createSubLocality()" nz-button nzType="primary">{{ buttonName }}</button>
    </div>
  </form>
</div>