.submit-button{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

nz-input-group{
    padding-right: 10px;
}

nz-select{
    width:100%;
}

.row{
    margin-top: 10px;
}