.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    color: white;
    font-size:x-large;
    font-weight: 1000;
    text-align: center;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  nz-footer {
    text-align: center;
  }

  .sider-open {
    overflow-y: auto;
    height: 100vh;
    /* width: 235px !important;
    flex: 0 0 235px !important;
    max-width: 235px !important;
    min-width: 235px !important; */
    flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    /* flex: none !important;
    max-width: none !important;
    min-width: none !important; */
    /* position: fixed;
    z-index: 1; */
    top: 0;
    left: 0;
}


  .sider-closed {
    overflow-y: auto;
    height: 100vh;
    flex: 0 0 235px !important;
    max-width: 235px !important;
    min-width: 235px !important;
    /* flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important; */
    top: 0;
    left: 0;
    
  }