<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item>
          <div class="logo">
          CLICK PAY
          <!-- <img src="./../../../../assets/images/clicklogo.JPG" alt="logo" width="140px" height="50px"> -->
          </div>
        </li>
        <li [routerLink]="['dashboard']" nz-menu-item>
          <span  nz-icon nzType="home" nzTheme="outline"></span>
          <span >Dashboard</span>
        </li>
        <li nz-submenu nzTitle="Creation" nzIcon="user">
          <ul>
            <li (click)="routeToBill()" nz-menu-item>Bill Creation</li>
            <li (click)="routeToCompany()" nz-menu-item>Company</li>
            <li (click)="routeToPackage()" nz-menu-item>Package</li>
            <li (click)="routeToArea()" nz-menu-item>Area</li>
            <li (click)="routeToBoxMedia()" nz-menu-item>Box / Media</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Admin Management" nzIcon="team">
          <ul>
            <li (click)="routeToAdminDetails()" nz-menu-item>Admin Details</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="User Management" nzIcon="team">
          <ul>
            <li (click)="routeToUserDetails()" nz-menu-item>User Details</li>
            <li (click)="routeToUserCollections()" nz-menu-item>User Collections</li>
            <li (click)="routeToComplainView()" nz-menu-item>Complain View</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Dealer Management" nzIcon="team">
          <ul>
            <li (click)="routeToDealerDetails()" nz-menu-item>Dealer Details</li>
            <li (click)="routeToDealerCollections()" nz-menu-item>Dealer Collections</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Officer Management" nzIcon="team">
          <ul>
            <li (click)="routeToOfficerDetails()" nz-menu-item>Officer Details</li>
            <li (click)="routeToAreaAllocation()" nz-menu-item>Area Allocation</li>
            <li (click)="routeToCollectionFromOfficer()" nz-menu-item>Collection From Officer</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Settings" nzIcon="setting">
          <ul>
            <li nz-menu-item>Configurations</li>
            <li nz-menu-item>User Rights</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <!-- <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item> -->
        </nz-breadcrumb>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Click Pay ©2022 Implement By Qasim And Tahir</nz-footer>
    </nz-layout>
  </nz-layout>