<div class="user-collection-details">
    <div class="modal-content">
        <div class="row-first" nz-row>
            <div nz-col nzSpan="10">

                <label class="label-modal">Collection Id : <span class="text"> {{ userCollection?.id }}</span></label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal">Internet Id : <span class="text"> {{ userCollection?.internetId }}</span> </label>
            </div>
        </div>
        <div class="row" nz-row>
            <div nz-col nzSpan="10">
                <label class="label-modal"> Month : <span class="text"> {{ userCollection?.month }}</span> </label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal"> Year : <span class="text">{{ userCollection?.year }}</span> </label>
            </div>
        </div>
        <div class="row" nz-row>
            <div nz-col nzSpan="10">
                <label class="label-modal">Collection Status : <span class="text"> {{ userCollection?.collectionStatus }}</span> </label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal">Payment Type : <span class="text">{{ userCollection?.paymentType }}</span> </label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal">Connection Type : <span class="text">{{ userCollection?.connectionType }}</span> </label>
            </div>
        </div>
        <div class="row" nz-row>
            <div nz-col nzSpan="10">
                <label class="label-modal">Amount : <span class="text">{{ userCollection?.amount }}</span> </label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal"> Remarks : <span class="text">{{ userCollection?.remarks }}</span> </label>            
            </div>
        </div>
        <div class="row" nz-row>
            <div nz-col nzSpan="10">
                <label class="label-modal">Created By : <span class="text">{{ userCollection?.createdBy }}</span> </label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal"> Created Date : <span class="date">{{ userCollection?.createdDate }}</span> </label>            
            </div>
        </div>
        <div class="row" nz-row>
            <div nz-col nzSpan="10">
                <label class="label-modal">Modified By : <span class="text">{{ userCollection?.modifiedBy }}</span> </label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal"> Modified Date: <span class="text">{{ userCollection?.LastModifiedDate }}</span> </label>            
            </div>
        </div>
    </div>
</div>



