<div class="user-collection-details">
    <div class="modal-content">
        <div class="row-first" nz-row>
            <div nz-col nzSpan="10">
                <label class="label-modal">Battery Type : <span class="text"> {{ battery?.batteryType }}</span></label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal">Battery Code : <span class="text"> {{ battery?.batteryCode }}</span> </label>
            </div>
        </div>
        <div class="row" nz-row>
            <div nz-col nzSpan="10">
                <label class="label-modal">Manufacturing Date : <span class="text"> {{ battery?.manufacturingDate }}</span> </label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal">Date of Sale : <span class="text">{{ battery?.saleDate }}</span> </label>
            </div>
        </div>
        <div class="row" nz-row>
            <div nz-col nzSpan="10">
                <label class="label-modal">Claim Date : <span class="text"> {{ battery?.claimDate }}</span> </label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal">Fault Type : <span class="text">{{ battery?.faultType }}</span> </label>
            </div>
        </div>
        <div class="row" nz-row>
            <div nz-col nzSpan="10">
                <label class="label-modal">Battery Serial Number : <span class="text">{{ battery?.batterySerialNumber }}</span> </label>
            </div>
            <div nz-col nzOffset="2" nzSpan="10">
                <label class="label-modal">Battery Recieve : <span class="text">{{ battery?.batterySerialNumber }}</span> </label>            
            </div>
        </div>
        <div class="row" nz-row>
            <div nz-col nzOffset="1" nzSpan="23">
                <label class="label-modal">Card : 
                    <span *ngIf="battery?.warrantyCardStatus" class="text"> 
                        Verified
                        <img height="25px" width="20px" src="../../../../assets/images/verified.png">
                    </span>
                    <span *ngIf="!battery?.warrantyCardStatus" class="text"> 
                        Not Verified
                        <img height="25px" width="20px" src="../../../../assets/images/not-verified.png">
                    </span>
                </label>
            </div>
            
        </div>
    </div>
</div>



