<button (click)="createAddOrUpdateBoxMediaModal(null)" nz-button nzType="primary" nzShape="round">
    <span nz-icon nzType="plus" ></span>
    Add
</button>
<nz-table #basicTable [nzData]="boxMediaList">
    <thead>
      <tr>
        <th>Id</th>
        <th>Box/Media</th>
        <th>NearBy Location</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let boxMedia of basicTable.data">
        <td>{{boxMedia?.id}}</td>
        <td>{{boxMedia?.boxNumber}}</td>
        <td>{{boxMedia?.nearbyLocation}}</td>
        <td>
            <button nz-button >
                <span nz-icon nzType="edit" ></span>
            </button>
        </td>
      </tr>
    </tbody>
</nz-table>