<div class="user-detail">

  <div nz-row>
    <div nz-col [nzSpan]="20">
      <div class="heading">
        <h1>
          Customers
        </h1>
    </div>

    </div>
    <div nz-col>
      <button (click)="createAddOrUpdateUserModal(null)" nz-button nzType="primary" nzShape="round">
        <span nz-icon nzType="plus" ></span>
        Add Customers
    </button>
    </div>
  </div>


  <nz-card>
    <nz-table #user [nzData]="userList">
      <thead>
        <tr>
          <th>Id</th>
          <th>Internet ID</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Connection Type</th>
          <th>Package Type</th>
          <th>Discount</th>
          <th>Installation Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userData of user.data">
          <td>{{userData?.id}}</td>
          <td>{{userData?.internetId}}</td>
          <td>{{userData?.name}}</td>
          <td>{{userData?.mobile}}</td>
          <td>{{userData?.address}}</td>
          <td>{{userData?.connectionType}}</td>
          <td>{{userData?.packageType}}</td>
          <td>{{userData?.discount}}</td>
          <td>{{userData?.installationDate}}</td>
          <td>{{userData?.status}}</td>
          <td>
              <span class="edit-button" (click)="createAddOrUpdateUserModal(userData?.id)" 
              nz-icon nzType="edit" nzTheme="outline"></span>
              <nz-divider nzType="vertical"></nz-divider>
              <!-- <span class="delete-button" (click)="showConfirmationPopupOnDelete(user?.id)"
              nz-icon nzType="delete" nzTheme="outline"></span> -->
          </td>
        </tr>
      </tbody>
  </nz-table>
  </nz-card>

</div>


  
