<button (click)="createAddOrUpdateCompanyModal(null)" nz-button nzType="primary" nzShape="round">
    <span nz-icon nzType="plus" ></span>
    Add
</button>
  
<nz-table #companies [nzData]="companyList">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies.data">
        <td>{{company?.id}}</td>
        <td>{{company?.name}}</td>
        <td>
          <span class="edit-button" (click)="createAddOrUpdateCompanyModal(company?.id)" 
          nz-icon nzType="edit" nzTheme="outline"></span>
          <nz-divider nzType="vertical"></nz-divider>
          <span class="delete-button" (click)="showConfirmationPopupOnDelete(company?.id)" 
           nz-icon nzType="delete" nzTheme="outline"></span>
        </td>
        
      </tr>
    </tbody>
</nz-table>