<div class="create-user-collection">
  <form nz-form #userCollectionForm="ngForm" >

      <div nz-row class="row" >
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Customer Name</h4>
            <input [disabled]="collectionForm.customerName!=null" nz-input type="text" name="customerName" [(ngModel)]="collectionForm.customerName"  placeholder="Customer Name" />
          </nz-input-group>
        </div>
        <div nz-col  nzSpan="12">
          <nz-input-group  >
            <h4>Internet ID</h4>
            <input [disabled]="collectionForm.internetId!=null" nz-input type="text" name="internetId" [(ngModel)]="collectionForm.internetId"  placeholder="Internet Id" />                
          </nz-input-group>
        </div>
      </div> 
      
      <div nz-row class="row" >
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Month</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Month..."
              name="month" [(ngModel)]="collectionForm.month" #month="ngModel" required>
              <nz-option *ngFor="let month of monthList" [nzLabel]="month" [nzValue]="month"></nz-option>
            </nz-select> 
          </nz-input-group>
        </div>
        <div nz-col nzSpan="12">
          <nz-input-group >
            <h4>Year</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Year..."
              name="year" [(ngModel)]="collectionForm.year" #year="ngModel" required>
              <nz-option *ngFor="let year of yearList" [nzLabel]="year" [nzValue]="year"></nz-option>
            </nz-select> 
          </nz-input-group>
        </div>
      </div> 
      
      <div nz-row class="row" >
        <div nz-col nzSpan="12">
          <nz-input-group>
            <h4>Payment Type</h4>
            <nz-select [nzBorderless]="false" nzShowSearch nzAllowClear nzPlaceHolder="Select Package Type..."
              name="packageType" [(ngModel)]="collectionForm.paymentType" (ngModelChange)="onChangeOfPaymentType()" #paymentType="ngModel" required>
              <nz-option *ngFor="let paymentType of paymentTypeList" [nzLabel]="paymentType" [nzValue]="paymentType"></nz-option>
            </nz-select>  
          </nz-input-group>
        </div>
        <div nz-col nzSpan="12">
          <nz-input-group >
            <h4>Amount</h4>
            <input [disabled]="collectionForm.paymentType=='Monthly' || collectionForm.paymentType==null" nz-input type="number" name="Amount" [(ngModel)]="collectionForm.amount"  placeholder="Amount" />
          </nz-input-group>
        </div>
      </div> 

      <div nz-row class="row" >
          <nz-input-group>
            <h4>Connection Type</h4>
            <input [disabled]="collectionForm.connectionType!=null" nz-input type="text" name="connectionType" [(ngModel)]="collectionForm.connectionType"  placeholder="Connection Type" />
          </nz-input-group> 
      </div> 

    <div class="submit-button" nz-row  >
      <button *ngIf="data" (click)="createUserCollection()" type="button" class="save-button" 
                 nz-button nzType="primary">{{ buttonName }}</button>
    </div>
  </form>
</div>