<form nz-form #bmForm="ngForm" >
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Box/Media Number</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <input nz-input type="text" name="boxMediaNumber" [(ngModel)]="boxMediaNumber" placeholder="Box/Media Number" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input box/media number!</ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">The box/media number is redundant!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>NearBy Location</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
          <input nz-input type="text" name="nearByLocation" [(ngModel)]="nearByLocation" placeholder="NearBy Location" />
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input nearby location!</ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">The nearby location is redundant!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <!-- <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button> -->
        <button nz-button (click)="createOrUpdateBoxMedia()">{{ buttonName }}</button>
      </nz-form-control>
    </nz-form-item>
  </form>