<div class="create-box-media">
  <form nz-form #bmForm="ngForm" >
      <div nz-row>
        <nz-input-group>
          <h4>Box/Media Number</h4>
          <input type="text" name="boxMediaNumber" [(ngModel)]="boxMediaNumber" nz-input placeholder="Box/Media Number" />
        </nz-input-group>
      </div>
      <br>
      <div nz-row >
        <nz-input-group>
          <h4>NearBy Location</h4>
          <input nz-input type="text" name="nearByLocation" [(ngModel)]="nearByLocation" placeholder="NearBy Location" />
        </nz-input-group>
      </div>  

    <div class="submit-button" nz-row  >
        <button *ngIf="data" type="button" class="save-button" 
                (click)="showConfirmationPopup()"  nz-button nzType="primary">{{ buttonName }}</button>
        <button *ngIf="!data" type="button" class="save-button" 
                (click)="createBoxMedia()" nz-button nzType="primary">{{ buttonName }}</button>
    </div>
  </form>
</div>
