<form nz-form #cityForm="ngForm" >
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>City Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
        <input nz-input type="text" name="CityName" [(ngModel)]="cityName" placeholder="City Name" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input city name!</ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">The city name is redundant!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Country</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
          <input nz-input type="text" name="Country" value="Pakistan" disabled/>
        </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <!-- <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button> -->
        <button nz-button (click)="createCity()">{{ buttonName }}</button>
        <button *ngIf="data" type="button" class="save-button" 
                (click)="showConfirmationPopup()"  nz-button nzType="primary">{{ buttonName }}</button>
        <button *ngIf="!data" type="button" class="save-button" 
                (click)="createCity()" nz-button nzType="primary">{{ buttonName }}</button>
      </nz-form-control>
    </nz-form-item>
  </form>